#!/usr/bin/haserl 
<%
  # Get version string from banner
  REV=`cat /etc/openwrt_version`
  VERSION=`cat /etc/banner | grep Version`" "$REV

  # Time
  DATE=`date`
  UPTIME=`uptime`
  TZ=`cat /etc/TZ`

  # Get USB Modem details
  USBMODEM=`/bin/usbmodem.sh`
  USBSERIAL=`ls /dev/ttyUSB*`
  USBSTATUS=`ifconfig | grep -A 1 3g | grep "inet addr"`

  # Set DHCP subnet to current subnet for Softphone Support
  /bin/setdhcpsubnet.sh > /dev/null

  # Get the Asterisk and Access Point confg parameters 
  # from config file /etc/config/secn

  # Asterisk configuration parameters
  ENABLE=`uci get secn.asterisk.enable`
  REGISTER=`uci get secn.asterisk.register`
  HOST=`uci get secn.asterisk.host`
  REGHOST=`uci get secn.asterisk.reghost`
  SECRET=`uci get secn.asterisk.secret`

  USERNAME=`uci get secn.asterisk.username`
  DIALOUT=`uci get secn.asterisk.dialout`
  CODEC1=`uci get secn.asterisk.codec1`
  CODEC2=`uci get secn.asterisk.codec2`
  CODEC3=`uci get secn.asterisk.codec3`
  EXTERNIP=`uci get secn.asterisk.externip`
  ENABLENAT=`uci get secn.asterisk.enablenat`
  SOFTPH=`uci get secn.asterisk.softph`
  ENABLE_AST=`uci get secn.asterisk.enable_ast`

  # Access Point configuration parameters
  SSID=`uci get secn.accesspoint.ssid`
  ENCRYPTION=`uci get secn.accesspoint.encryption`
  WPA_KEY_MGMT=`uci get secn.accesspoint.wpa_key_mgmt`
  PASSPHRASE=`uci get secn.accesspoint.passphrase`
  AP_DISABLE=`uci get secn.accesspoint.ap_disable`
  USREG_DOMAIN=`uci get secn.accesspoint.usreg_domain`
  MAXASSOC=`uci get secn.accesspoint.maxassoc`

  # Set AP Connections to show 'Disabled' if reqd.
  if [ $MAXASSOC = "0" ]; then
    MAXASSOC="Disabled"
  fi 

  # DHCP configuration parameters
  DHCP_ENABLE=`uci get secn.dhcp.enable`
  DHCP_AUTH=`uci get secn.dhcp.dhcp_auth`
  STARTIP=`uci get secn.dhcp.startip`
  ENDIP=`uci get secn.dhcp.endip`
  MAXLEASES=`uci get secn.dhcp.maxleases`
  LEASETERM=`uci get secn.dhcp.leaseterm`
  DOMAIN=`uci get secn.dhcp.domain`
  OPTION_SUBNET=`uci get secn.dhcp.subnet`
  OPTION_ROUTER=`uci get secn.dhcp.router`

  # MPGW setting
  MPGW=`uci get secn.mpgw.mode`

  # Get network settings from /etc/config/network and wireless

  # br_lan configuration parameters
  BR_IPADDR=`uci get network.lan.ipaddr`
  BR_DNS=`uci get network.lan.dns`
  BR_GATEWAY=`uci get network.lan.gateway`
  BR_NETMASK=`uci get network.lan.netmask`

  # mesh_0 configuration parameters
  ATH0_IPADDR=`uci get network.mesh_0.ipaddr`
  ATH0_NETMASK=`uci get network.mesh_0.netmask`
  ATH0_SSID=`uci get wireless.ah_0.ssid`
  ATH0_BSSID=`uci get wireless.ah_0.bssid`

  # Radio
  CHANNEL=`uci get wireless.radio0.channel`
  ATH0_TXPOWER=`uci get wireless.radio0.txpower`
  RADIOMODE=`uci get wireless.radio0.hwmode`
  CHANBW=`uci get wireless.radio0.chanbw`

  if [ $RADIOMODE = "11ng" ]; then
    # Display 802.11N-G mode
    RADIOMODE="802.11N-G"
  else
    RADIOMODE="802.11G"
  fi

  # Get web server parameters
  AUTH=`uci get secn.http.auth`
  LIMITIP=`uci get secn.http.limitip`
  ENSSL=`uci get secn.http.enssl`

  # Get Asterisk registration status
  /bin/get-reg-status.sh
  REG_STATUS=`cat /tmp/reg-status.txt | awk '{print $5;}'`
  REG_ACCT=`cat /tmp/reg-status.txt | awk '{print $1 " - " $2;}'`

  if [ $REG_STATUS = "Registered" ]; then
    # Display Not Registered status
    REG_STATUS="Registered Acct"
  else
    REG_STATUS="Not Registered"
  fi
  # Get WAN settings
  WANPORT=`uci get secn.wan.wanport`
  ETHWANMODE=`uci get secn.wan.ethwanmode`
  WANIP=`uci get secn.wan.wanip`
  WANGATEWAY=`uci get secn.wan.wangateway`
  WANMASK=`uci get secn.wan.wanmask`
  WANDNS=`uci get secn.wan.wandns`
  WANSSID=`uci get secn.wan.wanssid`
  WANENCR=`uci get secn.wan.wanencr`
  WANPASS=`uci get secn.wan.wanpass`

  # Get 3G USB Modem
  MODEM_ENABLE=`uci get secn.modem.enabled`
  MODEMSERVICE=`uci get secn.modem.service`
  VENDOR=`uci get secn.modem.vendor`
  PRODUCT=`uci get secn.modem.product`
  APN=`uci get secn.modem.apn`
  DIALSTR=`uci get secn.modem.dialstr`
  APNUSER=`uci get secn.modem.username`
  APNPW=`uci get secn.modem.password`
  MODEMPIN=`uci get secn.modem.pin`
  MODEMPORT=`uci get secn.modem.modemport`
%>
<% echo -en "content-type: text/html\r\n\r\n" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>SECN Configuration</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrapSwitch.css" rel="stylesheet" media="screen">
  <style type="text/css">

    /* form submission response style  */
    #loading, #success{display: none}

    /* Sticky footer styles
    -------------------------------------------------- */

    html,
    body {
      height: 100%;
      /* The html and body elements cannot have any padding or margin. */
    }

    /* Wrapper for page content to push down footer */
    #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by it's height */
      margin: 0 auto -60px;
    }
    .tab-content>.tab-pane, .pill-content>.pill-pane  {
      margin-top: 50px;
    }
/*    
    .span8 > div, .span3 > div, .span4 > div, .span2 > div, .span1 > div
    {
       background-color:#eee;
       border: 1px solid #888;
       border-radius:3px;
    } 
*/
    .form-horizontal .control-label {
      float: left;
      width: 110px; /* changed from 160px to 120px */
      padding-top: 5px;
      text-align: right;
    }

    .form-horizontal .controls {
      *display: inline-block;
      *padding-left: 20px;
      margin-left: 130px;  /* changed from 180px to 140px */
      *margin-left: 0;
    }
    
    .control-group {
      margin-bottom: 10px;
    }

    #ast_reg {
      height: 5px;
    }

    /* Set the fixed height of the footer here */
    #push,
    #footer {
      height: 50px;
    }
    #footer {
      background-color: #f5f5f5;
    }

    #adv_ui {
      margin-top: 5px;
    }

    /* Lastly, apply responsive CSS fixes as necessary */
    @media (max-width: 767px) {
      #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  </style>
</head>
<body>

<div id="wrap">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <a class="brand" href="#">VT Configuration</a>
          <ul id="tab" class="nav">
            <li class="active"><a href="#network" data-toggle="tab">Network</a></li>
            <li><a href="#voice" data-toggle="tab">Voice</a></li>
            <li><a href="#status" data-toggle="tab">Status</a></li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <div id="adv_ui" class="switch pull-right" data-on-label="Adv" data-off-label="Basic" data-off="success" data-on="warning">
                <input type="checkbox" id="chk1" >
              </div>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                <form action="[YOUR ACTION]" method="post" accept-charset="UTF-8">
                  <input id="user_username" style="margin-bottom: 15px;" type="text" name="user[username]" size="30" />
                  <input id="user_password" style="margin-bottom: 15px;" type="password" name="user[password]" size="30" />
                  <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" />
                  <label class="string optional" for="user_remember_me"> Remember me</label>

                  <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                </form>
              </div>
            </li>
          </ul>          
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="tab-content">
          <div class="tab-pane active" id="network">

            <form class="form-horizontal" name="MP-ADV" id="networkForm" method="POST" action="/cgi-bin/net_save.sh">

              <fieldset class="ipnetwork">
                <legend class="offset2 span8 offset2">Network</legend>
                <div class="row-fluid">
                  <div class="span4 offset2">
                    <div class="control-group">
                      <label data-toggle="tooltip" data-placement="bottom" title="You can also set the IP address by dialing the extension 2663 on the MP or 2662 to just change the last octet. If you just want to find out what the IP address of the MP is dial 2664" class="control-label" for="BR_IPADDR">IP Address</label>
                      <div class="controls">
                        <input class="span12" type="text" name="BR_IPADDR" id="br_ipaddr" value="<%= $BR_IPADDR %>" >
                      </div>
                    </div>
                  </div>
                  <div class="span4">  
                    <div class="control-group">
                      <label data-toggle="tooltip" data-placement="bottom" title="You can also set the gateway IP address by dialing the extension 4823 on the MP" class="control-label" for="BR_GATEWAY">Gateway</label>
                      <div class="controls">
                        <input class="span12" type="text" name="BR_GATEWAY" id="br_gateway" value="<%= $BR_GATEWAY %>" >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-fluid adv_ui hide">
                  <div class="span4 offset2">  
                    <div class="control-group">
                      <label class="control-label" for="BR_DNS">DNS</label>
                      <div class="controls">
                        <input class="span12" type="text" name="BR_DNS" id="br_dns" value="<%= $BR_DNS %>" >
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <div class="control-group">
                      <label class="control-label" for="BR_NETMASK">Netmask</label>
                      <div class="controls">
                        <input class="span12" type="text" name="BR_NETMASK" id="br_netmask" value="<%= $BR_NETMASK %>" >
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="wifi">
                <legend class="offset2 span8 offset2"> WiFi Access Point</legend>
                <div class="row-fluid">
                  <div class="span4 offset2">
                    <div class="control-group">
                      <label class="control-label" for="ssid">SSID</label>
                      <div class="controls">
                        <input class="span12" type="text" name="SSID" id="ssid" value="<%= $SSID %>" >
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <div class="control-group">
                      <label class="control-label" for"password">Password</label>
                      <div class="controls">
                        <input class="span12" type="password" name="PASSPHRASE" id="passphrase" value="<%= $PASSPHRASE %>" >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span4 offset2">
                    <div class="control-group">
                      <label class="control-label">Encryption</label>
                      <div class="controls">
                        <SELECT name="ENCRYPTION" id="encryption" class="input-small">
                          <option selected="<%= $ENCRYPTION %>"><%= $ENCRYPTION %></option>
                          <option value="WPA1">WPA1</option>
                          <option value="WPA2">WPA2</option>
                          <option value="WEP">WEP</option>
                          <option value="NONE">None</option>
                        </SELECT>
                      </div>
                    </div>
                  </div>
                  <div class="span2">
                    <div class="control-group">
                      <label data-toggle="tooltip" data-placement="bottom" title="You can also set the wireless channel by dialing 2426 on the MP"  class="control-label" for="CHANNEL">Channel</label>
                        <div class="controls">
                          <SELECT name="CHANNEL" id="CHANNEL" class="input-small" >
                            <option selected="<%= $CHANNEL %>"><%= $CHANNEL %></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                          </SELECT>
                        </div>
                    </div>
                  </div>                  

                  <div class="span2 adv_ui hide">
                    <div class="control-group">
                      <label class="control-label">US/Can (11 ch)</label>
                      <div class="controls">
                        <input class="input-small" type="checkbox" name="USREG_DOMAIN" id="usreg_domain" value="checked" $USREG_DOMAIN >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row-fluid adv_ui hide">
                  <div class="span4 offset2">
                    <div class="control-group">
                      <label class="control-label" for="MAXASSOC">AP Connections</label>
                      <div class="controls">
                        <SELECT name="MAXASSOC" id="MAXASSOC" class="input-small" >
                        <option selected="<%= $MAXASSOC %>"><%= $MAXASSOC %></option>
                        <option value="0">Disabled</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        </SELECT>
                      </div>
                   </div>
                  </div>

                  <div class="span3 adv_ui hide">
                    <div class="control-group">
                      <label class="control-label" for="ATH0_TXPOWER"> Tx Power 1-20</label>
                      <div class="controls">
                        <input class="input-small" type="text" name="ATH0_TXPOWER" id="ath0_txpower" value="<%= $ATH0_TXPOWER %>">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-fluid adv_ui hide">
                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label" for="RADIOMODE">Wifi Mode</label>
                      <div class="controls">
                        <SELECT class"span12" name="RADIOMODE" id="radiomode" class="input-medium">
                          <option selected="<%= $RADIOMODE %>"><%= $RADIOMODE %></option>
                          <option value="802.11G">802.11G</option>
                          <option value="802.11N-G">802.11N-G</option>
                        </SELECT>
                      </div>
                    </div>
                  </div>
                
                  <div class="span4">
                    <div class="control-group">                 
                      <label class="control-label" for="CHANBW">Chan BW</label>
                      <div class="controls">
                        <SELECT name="CHANBW" id="chanbw" class="input-small">
                          <option selected="<%= $CHANBW %>"><%= $CHANBW %></option>
                          <option value="5">5MHz</option>
                          <option value="10">10MHz</option>
                          <option value="20">20MHz</option>
                        </SELECT>
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>

              <fieldset class="meshwifi adv_ui hide">
                <legend class="offset2 span8 offset2"> WiFi Mesh </legend>
                <div class="row-fluid">
                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label" for="ATH0_IPADDR">IP Address</label>
                      <div class="controls">
                        <input class="span12" type="text" name="ATH0_IPADDR" id="ath0_ipaddr" value="<%= $ATH0_IPADDR %>">
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <div class="control-group">             
                      <label class="control-label" for="ATH0_NETMASK">Netmask</label>
                      <div class="controls">
                        <input class="span12" type="text" name="ATH0_NETMASK" id="ath0_netmask" value="<%= $ATH0_NETMASK %>">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label" for="ATH0_SSID"> SSID </label>
                      <div class="controls">
                        <input class="span12" type="text" name="ATH0_SSID" id="ath0_ssid" value="<%= $ATH0_SSID %>">
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <div class="control-group">             
                      <label class="control-label" for="ATH0_BSSID"> BSSID </label>
                      <div class="controls">
                        <input class="span12" type="text" name="ATH0_BSSID" id="ath0_bssid" value="<%= $ATH0_BSSID %>">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label">Gateway Mode</label>
                      <div class="controls">
                        <SELECT name="MPGW" id="mpgw" />
                          <option selected="<%= $MPGW %>"><%= $MPGW %></option>
                          <option value="OFF">OFF</option>
                          <option value="CLIENT">CLIENT</option>
                          <option value="SERVER">SERVER</option>
                          <option value="SERVER-1Mb">SERVER 1Mb</option>
                          <option value="SERVER-2Mb">SERVER 2Mb</option>
                          <option value="SERVER-5Mb">SERVER 5Mb</option>
                          <option value="SERVER-10Mb">SERVER 10Mb</option>
                        </SELECT>
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <div class="control-group">             
                      <label class="control-label" for="MESH_ENCR">Encryption</label>
                      <div class="controls">
                        <SELECT name="MESH_ENCR" id="MESH_ENCR" class="input-small" >
                          <option selected="off">OFF</option>
                          <!-- <option selected="<%= $MESH_ENCR %>"><%= $MESH_ENCR %></option>
                          <option value="off">OFF</option>
                          <option value="psk">WPA</option>
                          <option value="psk2">WPA2</option> -->
                        </SELECT>
                      </div>
                    </div>
                  </div>
                </div>
                    
              </fieldset>

              <fieldset class="dhcp adv_ui hide">
                <legend class="offset2 span8 offset2">DHCP Server</legend>

                <div class="row-fluid">
                  <div class="span4 offset2">
                    <div class="control-group">
                      <label class="control-label">DHCP Server</label>
                      <div class="switch controls" data-on-label="Enable" data-off-label="Disable" >
                        <input type="checkbox" name="DHCP_ENABLE" id="dhcp_enable" value="checked" $DHCP_ENABLE > 
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <div class="control-group">
                      <label class="control-label">Authoritative</label>
                      <div class="switch controls" data-on-label="YES" data-off-label="NO">
                        <input type="checkbox" name="DHCP_AUTH" id="dhcp_auth" value="checked" $DHCP_AUTH > 
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4 offset2">
                    <div class="control-group">
                      <label class="control-label" for="STARTIP">Starting IP</label>
                      <div class="controls">
                        <input class="span12" type="text" name="STARTIP" id="startip" value="<%= $STARTIP %>" >
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <div class="control-group">
                      <label class="control-label" for="ENDIP">Ending IP</label>
                      <div class="controls">
                        <input class="span12" type="text" name="ENDIP" id="endip" value="<%= $ENDIP %>" >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span4 offset2">
                    <div class="control-group">
                      <label class="control-label" for="OPTION_SUBNET"> Subnet Mask </label>
                      <div class="controls">
                        <input class="span12" type="text" name="OPTION_SUBNET" id="option_subnet" value="<%= $OPTION_SUBNET %>" >
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <div class="control-group">
                      <label class="control-label" for="OPTION_ROUTER"> Gateway Router </label>
                      <div class="controls">
                        <input class="span12" type="text" name="OPTION_ROUTER" id="option_router" value="<%= $OPTION_ROUTER %>" >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-fluid adv_ui hide">
                  <div class="span2 offset2">
                    <div class="control-group">
                      <label class="control-label" for="LEASETERM"> Lease Term (secs)</label>
                      <div class="controls">
                        <input type="text" class="input-small" name="LEASETERM" id="leaseterm" value="<%= $LEASETERM %>" >
                      </div>
                    </div>
                  </div>
                  <div class="span2 offset1">
                    <div class="control-group">
                      <label class="control-label" for="MAXLEASES"> Max Leases </label>
                      <div class="controls">
                        <input type="text" class="input-small" name="MAXLEASES" id="maxleases" value="<%= $MAXLEASES %>" >
                      </div>
                    </div>
                  </div>
                  <div class="span2">
                    <div class="control-group">
                      <label class="control-label" for="DOMAIN"> Domain </label>
                      <div class="controls">
                        <input type="text" class="input-small" name="DOMAIN" id="domain" value="<%= $DOMAIN %>" >
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="row-fluid">
                <div class="offset2 span8">
                  <div class="form-actions">
                    <INPUT TYPE="SUBMIT" name="BUTTON" value="Refresh">
                    <INPUT TYPE="SUBMIT" name="BUTTON" value="Save">
                    <INPUT TYPE="SUBMIT" name="BUTTON" value="Restore Defaults" >
                    <INPUT TYPE="SUBMIT" name="BUTTON" value="Reboot" >
                  </div>
                </div>
              </div>
            </form>
            <div id="loading" class="modal hide fade in" style="display: none; ">
              <div class="modal-body">
                <h4>Saving changes...</h4>
              </div>
            </div>
            <div id="success" class="modal">
            </div>
          </div>            
          <div class="tab-pane" id="voice">
            <form class="form-horizontal" >
              <fieldset class="asterisk-adv">
                <legend class="offset2 span8 offset2">Asterisk Configuration</legend>

                <div class="row-fluid">

                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label">Enable Asterisk</label>
                      <div class="switch controls">
                        <input type="checkbox" name="ENABLE_AST" id="enable_ast" value="checked" $ENABLE_AST > 
                      </div>
                    </div>
                  </div>

                  <div class="span4">
                    <div class="control-group">             
                      <label> SIP Status </label> 
                      <div class="controls">
                        <div class="span12" id="ast_reg"><%=  $REG_STATUS $REG_ACCT %></div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row-fluid">

                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label" for="USER">User Name</label>
                      <div class="controls">
                        <input class="span12" type="text" name="USER" id="user" value="<%= $USERNAME %>" > 
                      </div>
                    </div>
                  </div>

                  <div class="span4">
                    <div class="control-group">             
                      <label class="control-label" for="SECRET">Password</label>
                      <div class="controls">
                        <input class="span12"  type="text" name="SECRET" id="secret" value="<%= $SECRET %>" >
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row-fluid">                  
              
                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label" for="HOST">SIP Host</label>
                      <div class="controls">
                        <input class="span12" type="text" name="HOST" id="host" value="<%= $HOST %>" >
                      </div>
                    </div>
                  </div>

                  <div class="span2">
                    <div class="control-group">             
                      <label class="control-label">Dialout Code</label>
                      <div class="controls">
                        <SELECT name="DIALOUT" id="dialout" class="input-small">
                          <option selected="<%= $DIALOUT %>"><%= $DIALOUT %></option>
                          <option value="#"> # </option>
                          <option value="9"> 9 </option>
                          <option value="0"> 0 </option>
                        </SELECT>
                      </div>
                    </div>
                  </div>      


                </row>

                <div class="row-fluid adv_ui hide">

                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label" for="REGHOST">SIP Registrar</label> 
                      <div class="controls">
                        <input class="span12" type="text" name="REGHOST" id="reghost" value="<%= $REGHOST %>" > 
                      </div>
                    </div>
                  </div>

                  <div class="span4">
                    <div class="control-group">             
                      <label class="control-label">Softphone Support</label>
                      <div class="controls">
                        <SELECT name="SOFTPH" id="softph" class="input-small">
                          <option selected="<%= $SOFTPH %>"><%= $SOFTPH %></option>
                          <option value="OFF"> OFF </option>
                          <option value="CLIENT"> CLIENT </option>
                          <option value="MASTER"> MASTER </option>
                        </SELECT>
                      </div>
                    </div>
                  </div>



                </div>
                <div class="row-fluid adv_ui hide">
              
                  <div class="span2 offset2">
                    <div class="control-group">             
                      <label class="control-label">Codec1</label>
                      <div class="controls">
                        <SELECT name="CODEC1" id="codec1" class="input-small">
                          <option selected="<%= $CODEC1 %>"><%= $CODEC1 %></option>
                          <option value="gsm">gsm</option>
                          <option value="ulaw">ulaw</option>
                          <option value="alaw">alaw</option>
                        </SELECT>
                      </div>
                    </div>
                  </div>

                  <div class="span2">
                    <div class="control-group">             
                      <label class="control-label">Codec2</label>
                      <div class="controls">
                        <SELECT name="CODEC2" id="codec2" class="input-small">
                          <option selected="<%= $CODEC2 %>"><%= $CODEC2 %></option>
                          <option value="gsm">gsm</option>
                          <option value="ulaw">ulaw</option>
                          <option value="alaw">alaw</option>
                        </SELECT>
                      </div>
                    </div>
                  </div>                        
                
                  <div class="span2">
                    <div class="control-group">             
                      <label class="control-label">Codec3</label>
                      <div class="controls">
                          <SELECT name="CODEC3" id="codec3" class="input-small">
                            <option selected="<%= $CODEC3 %>"><%= $CODEC3 %></option>
                            <option value="gsm">gsm</option>
                            <option value="ulaw">ulaw</option>
                            <option value="alaw">alaw</option>
                          </SELECT>
                      </div>
                    </div>
                  </div>     

                </div> 
                <div class="row-fluid adv_ui hide">

                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label">SIP Enable</label>
                      <div class="switch controls">
                        <input  type="checkbox" name="ENABLE" id="enable" value="checked" <%= $ENABLE %> > 
                      </div>
                    </div>
                  </div>

                  <div class="span4">
                    <div class="control-group">             
                      <label class="control-label">SIP Register</label>
                      <div class="switch controls">
                        <input  type="checkbox" name="REGISTER" id="register" value="checked" <%= $REGISTER %> > 
                      </div>
                    </div>
                  </div>                        

                </div>


                <div class="row-fluid adv_ui hide">

                  <div class="span4 offset2">
                    <div class="control-group">             
                      <label class="control-label">Asterisk NAT</label>
                      <div class="switch controls"  data-on-label="Enable" data-off-label="Disable" >
                        <input  type="checkbox" name="ENABLENAT" id="enablenat" value="checked" $ENABLENAT > 
                      </div>
                    </div>
                  </div>   

                  <div class="span4">
                    <div class="control-group">             
                      <label class="control-label" for="EXTERNIP">NAT External IP</label>
                      <div class="controls">
                        <input type="text" name="EXTERNIP" id="externip" value="<%= $EXTERNIP %>" >
                      </div>
                    </div>
                  </div>
                
                </div>

              
              </fieldset>            
              <div class="row-fluid">
                <div class="offset2 span8">
                  <div class="form-actions">
                    <INPUT TYPE="SUBMIT" name="BUTTON" value="Save">
                    <INPUT TYPE="SUBMIT" name="BUTTON" value="Restart Asterisk" >
                    <INPUT TYPE="SUBMIT" name="BUTTON" value="Reboot" >
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="status">
          </div>          
        </div>
      </div>
    </div>
  </div>

  <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <div class="muted credit">Time: <%= $UPTIME %> TZ: <%= $TZ %></div>
                     
  </div>
</div>

<!-- Load javascript -->
<script type="text/javascript" src="/lib/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrapSwitch.js"></script>
<script type="text/javascript" src="/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="/lib/vt_lib2.js"></script>
</body>
</html>

