#!/usr/bin/haserl 
<%in cgi-bin/loadvar.inc %>
<% echo -en "content-type: text/html\r\n\r\n" %>

<!DOCTYPE HTML>

<html>
  <head>
    <title>SECN Configuration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrapSwitch.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrapValidator.min.css" rel="stylesheet" media="screen">
    <link href="/css/vt-bootstrap2.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="vt_index.html">Village Telco</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a data-toggle="tab" href="#network">Network</a></li>
          <li><a data-toggle="tab" href="#voice">Voice</a></li>
          <li><a data-toggle="tab" href="#status">Status</a></li>
        </ul>
            <ul id="navRight" class="nav navbar-nav navbar-right">
              <li>
                <div id="adv_ui" class="switch" data-on-label="Adv" data-off-label="Basic" data-off="success" data-on="warning">
                  <input type="checkbox" id="chk1">
                </div>
              </li>
            </ul>
        
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <!-- Begin page content -->
    <!-- Start Tab Content here  -->
    <div class="tab-content">
      <!-- Start Network Tab Content here  -->
      <%in cgi-bin/network.inc %>
      <!-- End Network Tab Content here  -->

      <!-- Start Voice Tab Content here  -->
      <%in cgi-bin/voice.inc %>
      <!-- End Voice Tab Content here  -->

      <!-- Start Status Content here  -->
      <div class="tab-pane" id="status">
        <div id="ONOD"></div>
      </div>
      <!-- End Status / ONOD Tab Content here  -->
    </div>
    <!-- End Tab Content here  -->

  <!-- Start Footer Code here  -->
  <div class="footer">
    <div class="container">
      <p class="text-muted">Uptime: <%= $UPTIME %>    Time Zone: <%= $TZ %></p>
    </div>
  </div>

    <!-- End Footer Code here  -->

    <!-- Load javascript -->
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrapSwitch.js"></script>
    <script type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/js/vt_lib2.js"></script>

  </body>
</html>